<div class="container" style="padding-right: 70%">
  <h2 class = "page-header">Add Turn</h2>
  <form (submit) = "onAddTurnSubmit()">
    <div class="form-group">
      <label>Turn ID</label>
      <input type="text" [(ngModel)] = "turn_id" name = "turn_id" class="form-control">
    </div>
    <div class="form-group">
      <label>Bus</label>
      <select class="form-control" [(ngModel)] = "license" name = "license" >
        <option *ngFor = "let bus of buses" value={{bus.license}}>{{bus.license}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Route</label>
      <select class="form-control" [(ngModel)] = "cities" name = "cities" >
        <option *ngFor = "let route of routes" value={{route.cities}}>{{route.route_id}} - {{route.cities[0]}} to {{route.cities[len(route.cities) - 1]}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Return</label>
      <input type="checkbox" [checked] = "return" (change) = "return = !return" />
    </div>
    <div class="form-group">
      <label>Time</label>
      <input type="time" [(ngModel)] = "time" name = "time" class="form-control">
    </div>
    <div class="form-group">
      <label>Date</label>
      <input type="date" [(ngModel)] = "date" name = "date" class="form-control">
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Add">
  </form>
</div>
<br>
