<div class="jumbotron text-center">
  <h1>BookMySeat</h1>
  <h2>Online Bus Booking Platform</h2>
  <p class = "lead"> Welcome to the most powerful bus booking platform in Sri Lanka</p>
  <div>
    <a class = "btn btn-primary" [routerLink] = "['/register']">Register</a> <a class = "btn btn-primary" [routerLink] = "['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid blah blah blah</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components blah blah blah</p>
  </div>
  <div class="col-md-4">
    <h3>JWT tokens</h3>
    <p>Full featured authentication using JSON blah blah blah</p>
  </div>
</div>
