<div class="jumbotron text-center" style="background-image: url(../../assets/home.jpg); background-position:center; background-size:auto; background-repeat:no-repeat; background-size:cover;">
  <h1>BookMySeat</h1>
  <h2>Online Bus Booking Platform</h2>
  <p class = "lead">Welcome to the #1 bus booking platform in Sri Lanka</p>
  <div class="row">
    <div class="col-md-4">
      <input auto-complete type="text" class="form-control" value="" placeholder="Starting location" [(ngModel)] = "starting" name = "starting" [source] = "sources">
    </div>
    <div class="col-md-4">
      <input auto-complete type="text" class="form-control" value="" placeholder="Destination" [(ngModel)] = "destination" name = "destination" [source] = "sources">
    </div>
    <div class="col-md-4">
      <input type="date" class="form-control" value="" min={{getToday()}} placeholder="Date" [(ngModel)] = "date" name = "date">
    </div>
  </div>
  <br>
  <div>
    <button class = "btn btn-primary" (click)="onClickSearch()">Search</button>
  </div>
</div>
<br>
<h3>Popular destinations</h3>
<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/meemure.jpg" alt="...">
      <div class="caption">
        <h3>Kandy</h3>
        <p>Kandy is a large city in central Sri Lanka. It's set on a plateau surrounded by mountains, which are home to tea plantations and biodiverse rainforest. The city's heart is scenic Kandy Lake (Bogambara Lake), which is popular for strolling. Kandy is famed for sacred Buddhist sites, including the Temple of the Tooth (Sri Dalada Maligawa) shrine, celebrated with the grand Esala Perahera annual procession.</p>
        <p><a href="#" class="btn btn-default" role="button">Search Buses</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/ella.jpg" alt="...">
      <div class="caption">
        <h3>Jaffna</h3>
        <p>Jaffna is a city on the northern tip of Sri Lanka. Nallur Kandaswamy is a huge Hindu temple with golden arches and an ornate gopuram tower. By the coast, star-shaped Jaffna Fort was built by the Portuguese in the 17th century and later occupied by the Dutch and British. Jaffna Public Library is a symbol of the city’s post-war regeneration. Jaffna Archaeological Museum has Dutch cannons and pre-colonial artifacts.</p>
        <p><a href="#" class="btn btn-default" role="button">Search Buses</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/riverston.jpg" alt="...">
      <div class="caption">
        <h3>Kataragama</h3>
        <p>Kataragama is a pilgrimage town sacred to Buddhist, Hindu, Muslim and indigenous Vedda people of Sri Lanka. People from South India also go there to worship.</p>
        <p> <a href="#" class="btn btn-default" role="button">Search Buses</a></p>
      </div>
    </div>
  </div>
</div>
<hr/>
<footer class="hidden-xs">
  <div class="row">
    <div class="col-md-4">
      <h3 class="list-group-item-heading">Ayubowan!</h3>
      <br>
      <p class="list-group-item-text"><strong>Contact us!</strong></p>
      <p class="list-group-item-text">Hotline: 0115-116-xxx</p>
      <p class="list-group-item-text">8.00 A.M - 8.00 P.M. (Sri Lanka Time)</p>
      <br>
      <p class="list-group-item-text"><strong>Find us on Whatsapp and Viber</strong></p>
      <p class="list-group-item-text">Save 077-1234567 on your phone</p>
      <br>
      <p class="list-group-item-text"><strong>Write to us!</strong></p>
      <p class="list-group-item-text">Email: info@bookmyseat.com</p>
      <p class="list-group-item-text">Complaints, Ideas to improve, anything..</p>
    </div>
    <div class="col-md-4">
      <h3 class="list-group-item-heading">Connect with us</h3>
      <br>
      <p class="list-group-item-text"><strong>Find us on</strong></p>
      <br>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
      <br>
      <br>
      <h3 class="list-group-item-heading">Terms & Regulations</h3>
      <p class="list-group-item-text"><strong>terms & regulations</strong></p>
      <br>
    </div>
    <div class="col-md-4">
      <h3 class="list-group-item-heading">Have a bus? Want to join us?</h3>
      <br>
      <p class="list-group-item-text"><strong>We are more than ready to connect you with the passengers</strong></p>
      <br>
      <p class="list-group-item-text"><strong>Send a request</strong></p>
      <p class="list-group-item-text">Email: request@bookmyseat.com</p>
      <p class="list-group-item-text">We will consider your request and get back to you</p>
      <br>
      <p class="list-group-item-text"><strong>Contact our admins for more details</strong></p>
      <p class="list-group-item-text">Hotline: 0115-116-xxx</p>
      <p class="list-group-item-text">8.00 A.M - 8.00 P.M. (Sri Lanka Time)</p>
    </div>
  </div>
</footer>
<br><br><br>
