<div class="jumbotron text-center" style="background-image: url(../../assets/home.jpg); background-position: center; background-size:100%; background-repeat: no-repeat">
  <h1>BookMySeat</h1>
  <h2>Online Bus Booking Platform</h2>
  <p class = "lead">Welcome to the most popular bus booking platform in Sri Lanka</p>
  <div class="row">
    <div class="col-md-4">
      <input auto-complete type="text" name="" class="form-control" value="" placeholder="Starting location" [(ngModel)] = "starting" name = "starting" [source] = "source">
    </div>
    <div class="col-md-4">
      <input auto-complete type="text" name="" class="form-control" value="" placeholder="Destination" [(ngModel)] = "destination" name = "destination" [source] = "source">
    </div>
    <div class="col-md-4">
      <input type="date" name="" class="form-control" value="" placeholder="Date" [(ngModel)] = "date" name = "date">
    </div>
  </div>
  <br>
  <div>
    <button class = "btn btn-primary" (click)="onClickSearch()">Search</button>
  </div>
</div>

<br>
<div class="row">
  <h3>Popular destinations</h3>
  <br>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/meemure.jpg" alt="...">
      <div class="caption">
        <h3>Kandy</h3>
        <p>Kandy is a large city in central Sri Lanka. It's set on a plateau surrounded by mountains, which are home to tea plantations and biodiverse rainforest. The city's heart is scenic Kandy Lake (Bogambara Lake), which is popular for strolling. Kandy is famed for sacred Buddhist sites, including the Temple of the Tooth (Sri Dalada Maligawa) shrine, celebrated with the grand Esala Perahera annual procession.</p>
        <p><a href="#" class="btn btn-default" role="button">Search Buses</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/ella.jpg" alt="...">
      <div class="caption">
        <h3>Jaffna</h3>
        <p>Jaffna is a city on the northern tip of Sri Lanka. Nallur Kandaswamy is a huge Hindu temple with golden arches and an ornate gopuram tower. By the coast, star-shaped Jaffna Fort was built by the Portuguese in the 17th century and later occupied by the Dutch and British. Jaffna Public Library is a symbol of the city’s post-war regeneration. Jaffna Archaeological Museum has Dutch cannons and pre-colonial artifacts.</p>
        <p><a href="#" class="btn btn-default" role="button">Search Buses</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/riverston.jpg" alt="...">
      <div class="caption">
        <h3>Kataragama</h3>
        <p>Kataragama is a pilgrimage town sacred to Buddhist, Hindu, Muslim and indigenous Vedda people of Sri Lanka. People from South India also go there to worship.</p>
        <p> <a href="#" class="btn btn-default" role="button">Search Buses</a></p>
      </div>
    </div>
  </div>
</div>
