<h2 class="page-header">Turn Information</h2>
<div class="container" style="padding-right: 30%">
  <div *ngFor = "let turn of turns">
    <div class="list-group">
      <div class="list-group-item ">
        <h4 class="list-group-item-heading">Turn ID: {{turn.turn_id}}</h4>
        <p class="list-group-item-text">Bus: {{turn.license}}</p>
        <p class="list-group-item-text">Route: {{turn.cities}}</p>
        <p class="list-group-item-text">Return: {{turn.return}}</p>
        <p class="list-group-item-text">Seats Left: {{seatsLeft(turn.seats)}}</p>
        <p class="list-group-item-text">Time: {{turn.time}}</p>
        <p class="list-group-item-text">Date: {{turn.date}}</p>
        <br>
        <button type="button" name="button">Cancel</button>
        <button type="button" name="button" [disabled] = "!isValid(turn.status)" >Print Report</button>
      </div>
    </div>
  </div>
</div>
