<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Active Turns information</div>
      <table class="table">
        <tr>
          <th></th>
          <th>Turn ID</th>
          <th>Date</th>
          <th>Starting from</th>
          <th>Destination</th>
          <th>Bus</th>
          <th>Seats Left</th>
          <th>Price</th>
        </tr>
        <tr *ngFor = "let turn of turns">
          <td></td>
          <td>{{turn.turn_id}}</td>
          <td>{{turn.date}}</td>
          <td>{{turn.cities[0]}} @ {{analogToDigital(turn.stime)}}</td>
          <td>{{turn.cities[len(turn.cities) - 1]}} @ {{analogToDigital(turn.dtime)}}</td>
          <td>{{turn.license}}</td>
          <td>{{seatsLeft(turn.seats)}}</td>
          <td>Rs. {{getPrice(turn.price)}}</td>
          <td><button type="button" name="button" (click)="remove(turn.turn_id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
