<div *ngIf="flag">
<div class="jumbotron text-center" style="background-image: url(../../assets/final.jpg); background-position:center; background-size:auto; background-repeat:no-repeat; background-size:cover;">
  <h1>Thank You {{name}}!</h1>
  <h2>Your seats have been booked successfully</h2>
  <p class = "lead">Now you can get your seats by verifying your NIC no. to the bus conductor</p>
  <p class = "lead">Contact us for more Information</p>
  <p class = "lead">Hotline: 011-1234123</p>
  <br>
  <h1>Happy Journey!</h1>
  <br>
  <div>
    <button class = "btn btn-primary" (click)="onClickBack()">Back to Home</button>
  </div>
</div>
</div>
