<div class="row">
  <div class="col-md-5">
  <h2 class = "page-header">Register</h2>
  <form (submit) = "onRegisterSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" [(ngModel)] = "name" name = "name" class="form-control">
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class="form-control" [(ngModel)] = "type" name = "type">
        <option value="Admin">Administrator</option>
        <option value="Operator">Operator</option>
      </select>
    </div>
    <div class="form-group">
      <label>Telephone</label>
      <input type="text" [(ngModel)] = "telephone" name = "telephone" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)] = "email" name = "email" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
</div>
<br>
